<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		">

	<context:component-scan base-package="com.namucnd">
			<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>


	<!-- Log4j Configurer -->
	<bean id="log4jDirectConfigurer" class="com.namucnd.utils.CustomLog4jConfig">
		<property name="location" value="classpath:log4j/log4j_#{globals['svr.id']}.xml"/>
		<property name="refreshInterval" value="0"/>
		<!-- log4j에서 사용할 파라미터 -->
		<property name="logdirKey" value="web.logDir"/>
		<!-- log4j에서 사용할 파라미터 값 -->
		<property name="logdirValue" value="web#{globals['svr.id'] == 'live' ? '' : '_dev'}"/>
	</bean>
</beans>
